:host {
  display: block;
}

.gifs-container {
  columns: 7 200px;
  column-gap: 1rem;
  @for $i from 1 through 36 { 
    div:nth-child(#{$i}) {
      $h: (random(400) + 100) + px;
      height: $h;
      line-height: $h;
    }
  }
}
